<h1>Listing musical_styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @musical_styles.each do |musical_style| %>
  <tr>
    <td><%= musical_style.name %></td>
    <td><%= link_to 'Show', musical_style %></td>
    <td><%= link_to 'Edit', edit_musical_style_path(musical_style) %></td>
    <td><%= link_to 'Destroy', musical_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Musical style', new_musical_style_path %>
