  <div class="row-fluid">
       
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                  <h5>Listing users</h5>
                  <div class="buttons">  
                     <%= link_to new_user_path, :class => 'btn btn-primary' do %>
                        <i class="icon-plus icon-white"></i> Agregar Usuario
                    <% end %>    

                    
                  </div>
                </div>
                
                <div class="widget-content">
                    <div style="padding-top:10px;padding-left:10px">
                    <table class="table table-hover" width="900px">
                      <thead>
                      <tr>
                        <th width="20px">Tipo</th>
                        <th width="150px">Persona</th>                     
                        <th width="20px">Sexo</th>
                        <th width="120px">Tipo Documento</th>
                        <th width="150px">N° Documento</th>
                        <th width="100px">Correo</th>                       
                        <th width="20px"></th>
                        <th width="20px"></th>
                        <th width="20px"></th>
                      </tr>
                      </thead>
                    <% @users.each do |user| %>
                      <tr>
                       
                        <td><%= user.typeuser.name %></td>
                        <td><%= user.name %></td> 
                        <td><%= Sex.find(user.sexes_id).name %></td>             
                        <td><%= user.typedocument.name %></td>
                        <td><%= user.document %></td>
                        <td><%= user.email %></td>
                         <td>
                            <%= link_to user , :title => "Mostrar"  do %>
                                  <i class="icon-align-justify"></i>
                            <% end %> 
                      </td>
                      <td>
                          <%= link_to edit_user_path(user), :title => "Editar"  do %>
                                  <i class="icon-pencil"></i>
                          <% end %> 
                      </td>
                      <td>
                          <%= link_to user, method: :delete, data: { confirm:'¿Estas seguro?' }, :title => "Eliminar" do %>
                                  <i class="icon-remove"></i>
                          <% end %> 
                      </td>

                        
                      </tr>
                    <% end %>
                    </table>

                    </div>

                </div>
             </div>
          
         </div>

  </div>


