<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @user.user_type %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Document type:</b>
  <%= @user.document_type %>
</p>

<p>
  <b>Document number:</b>
  <%= @user.document_number %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Foursquare token:</b>
  <%= @user.foursquare_token %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
