<%= form_for(@typeuser) do |f| %>
  <% if @typeuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@typeuser.errors.count, "error") %> prohibited this typeuser from being saved:</h2>

      <ul>
      <% @typeuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal"> 
    <div class="control-group">
      <span class="control-label">
        <%= f.label :name , "Nombre" %> 
      </span>
      <div class="controls" >        
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-actions">
      <%= button_tag( type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Guardar
      <% end %>
   </div>
  </div>
<% end %>
