<%= form_for(@concert) do |f| %>
  <% if @concert.errors.any? %>
   <div class="alert alert-error">
      <b>Oh Error!</b>
      <ul>
      <% @concert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-horizontal">
   
    <div class="control-group">
      <span class="control-label">
        <%= f.label :name, "Nombre" %>
      </span>
      <div class="controls" >
        <%= f.text_field :name %>
      </div>
    </div>
   
   <div class="control-group">
      <span class="control-label">
        <%= f.label :place, "Local" %>
      </span>
      <div class="controls" >
        <%= f.collection_select :place_id, Place.all, :id, :name, :prompt => true %>
      </div>
   </div>
   
   <div class="control-group">
      <span class="control-label">
        <%= f.label :group, "Grupo" %>
      </span>
      <div class="controls" >
      <%= f.collection_select :group_id, Group.where("user_id = ?", current_user.id), :id, :name, :prompt => true %>
      </div>
   </div>
   
  <div class="control-group">
      <span class="control-label">
        <%= f.label :date, "Fecha", start_year: 2013 %>
      </span>
      <div class="controls" >
        <%= f.date_select :date %>
      </div>
  </div>

  <div class="control-group">
      <span class="control-label">
        <%= f.label :start_time, "Hora Inicio" %>
      </span>
      <div class="controls" >
        <%= f.time_select :start_time %>
      </div>
  </div>

  <div class="control-group">
      <span class="control-label">
        <%= f.label :end_time, "Hora Fin" %>
      </span>
      <div class="controls" >
        <%= f.time_select :end_time %>
      </div>
  </div>

   
  <div class="form-actions">
      <%= button_tag( type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Guardar
      <% end %>
  </div>

     </div>
<% end %>
