<p id="notice"><%= notice %></p>

<p>
  <b>Concert:</b>
  <%= @concert.name %>
</p>

<p>
  <b>Place:</b>
  <%= @concert.place.name %>
</p>

<p>
  <b>Group:</b>
  <%= @concert.group.name %>
</p>

<p>
  <b>User:</b>
  <%= @concert.user.email %>
</p>

<p>
  <b>Date:</b>
  <%= @concert.date %>
</p>

<p>
  <b>Start time:</b>
  <%= @concert.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @concert.end_time %>
</p>

<p>
  <b>State:</b>
  <%= @concert.state %>
</p>




<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
