  <div class="row-fluid">
       
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
          <h5>Mostrar</h5>
                 </div>
                
                <div class="widget-content">
                  <p id="notice"><%= notice %></p>

        <div class="form-horizontal"> 

          <div class="control-group">
            <span class="control-label">
              Concierto 
            </span>
            <div class="controls" >
            <span class="input-xlarge uneditable-input">
            <%= @concert.name %>
            </span> 
         </div>
        </div>

<div class="control-group">
            <span class="control-label">
              Local 
            </span>
            <div class="controls" >
            <span class="input-xlarge uneditable-input">
          <%= @concert.place.name %>
            </span> 
         </div>
        </div>

        <div class="control-group">
            <span class="control-label">
              Grupo 
            </span>
            <div class="controls" >
            <span class="input-xlarge uneditable-input">
           <%= @concert.group.name %>
            </span> 
         </div>
        </div>

  <div class="control-group">
            <span class="control-label">
              Fecha 
            </span>
            <div class="controls" >
            <span class="input-xlarge uneditable-input">
           <%= @concert.date %>
            </span> 
         </div>
        </div>
   

        <div class="control-group">
            <span class="control-label">
              Hora Inicio 
            </span>
            <div class="controls" >
            <span class="input-xlarge uneditable-input">
           <%= @concert.start_time.strftime('%H:%M:%S') %>  
            </span> 
         </div>
        </div>

  <div class="control-group">
            <span class="control-label">
              Hora Fin 
            </span>
            <div class="controls" >
            <span class="input-xlarge uneditable-input">
           <%= @concert.end_time.strftime('%H:%M:%S') %>  
            </span> 
         </div>
        </div>

     


        <div class="form-actions">

      <%= link_to edit_concert_path(@concert), :class => 'btn btn-primary'  do %>
                     <i class="icon-pencil icon-white"></i> Editar
                <% end %> 
      <%= link_to 'Volver', concerts_path, :class => 'btn' %>
      </div>
      
      </div>
             </div>
          
         </div>

  </div>    

 
 