 <div class="row-fluid">
       
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                  <h5>Sexo</h5>
                  <div class="buttons">  
                    <%= link_to new_sex_path, :class => 'btn btn-primary' do %>
                        <i class="icon-plus icon-white"></i> Agregar Sexo
                    <% end %>    
                  </div>
                </div>
                
                <div class="widget-content">
                  
                  <div style="padding-top:10px;padding-left:10px">
                  <table class="table table-hover" width="700px">
                    <thead>
                    <tr>
                      <th width="30px">Codigo</th>
                      <th width="400px">Nombre</th>
                      <th width="10px"></th>
                      <th width="10px"></th>
                      <th width="10px"></th>
                    </tr>
                    </thead>

                    <% @sexes.each do |sex| %>
                      <tr>
                         <td><%= sex.id %></td>
                        <td><%= sex.name %></td>
                        <td>
                            <%= link_to sex , :title => "Mostrar"  do %>
                                  <i class="icon-align-justify"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to edit_sex_path(sex) , :title => "Editar"  do %>
                                  <i class="icon-pencil"></i>
                            <% end %> 
                        </td>
                        <td>
                            <%= link_to  sex, method: :delete, data: { confirm: '¿Estas seguro?' }, :title => "Eliminar" do %>
                                  <i class="icon-remove"></i>
                            <% end %> 
                        </td>
                      </tr>
                    <% end %>
                    </table>

                  </div>

                </div>
             </div>
          
         </div>

  </div>