 <div class="row-fluid">
       
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                  <h5>Buscar Concierto</h5>                  
                </div>
            
                <div class="widget-content">

                <%= form_tag search_path, :method => 'get' do %>
                    
                    <div style="padding-left:30px;padding-top:30px">

                      <div style="float:left;padding-top:3px;">
                        Grupo:  
                      </div>
                      <div style="float:left;padding-left:5px;">
                         <%= text_field_tag :search, params[:search] %>
                      </div>

                       <div style="float:left;padding-top:3px;padding-left:10px;">
                        Estilo Musical:  
                      </div>
                      <div style="float:left;padding-left:5px;">
                         <%= text_field_tag :estilo, params[:estilo] %>
                      </div>
                   

                        <div style="float:left;padding-top:3px;padding-left:10px;">
                          Distrito:  
                        </div>
                        <div style="float:left;padding-left:5px;">
                           <%= text_field_tag :distrito, params[:distrito] %>
                        </div> 
                        <div style="clear:both"></div>
                    </div>

                    <div style="padding-left:30px;padding-top:0px">

                      <div style="float:left;padding-top:3px;">
                        Fecha:  
                      </div>
                      <div style="float:left;padding-left:5px;">
                          <%= date_select :fecha, 'Fecha' %>  
                      </div>

                       <div style="float:left;padding-top:0px;padding-left:10px;">
                         <%= button_tag( type: 'submit', :name => nil, class: "btn") do %>
                          <i class="icon-search"></i> Buscar
                        <% end %>  
                            <%= link_to 'Hoy', search_path, :class => 'btn' %>
                      </div>
                      <div style="clear:both"></div>
                    </div>
                  
                <% end %>
 
              <div>
                  <div style="float:right">
                    <button type="button" class="btn" onclick="javascript:VerGmaps();">Vista GMaps</button>
                    <button type="button" class="btn"  onclick="javascript:VerMini();">Vista Miniatura</button>                             
                  </div>                   
                  <div style="clear:both">                  
                  </div>

                  <hr/>
              </div>

               <div id="contenedor">                  
                   <% if( @concerts.count != 0 ) %>
                    <% @concerts.each do |concert| %>
                        <div class="item">
                           <%= image_tag concert.group.photo_path %>
                          <div style="text-align: center">
                            <b><%= concert.name %></b>
                          </div> 
                          
                          <div style="padding-left:10px">
                            <b>Grupo:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= concert.group.name %>
                          </div> 

                          <div style="padding-left:10px">
                            <b>Estilo:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= concert.group.style.name %>
                          </div> 
                          
                          <div style="padding-left:10px">
                            <b>Local:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= concert.place.name %>
                          </div> 

                          <div style="padding-left:10px">
                            <b>Dirección:</b>&nbsp;&nbsp;&nbsp;<%= concert.place.address %>
                          </div> 

                          <div style="padding-left:10px">
                            <b>Distrito:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= concert.place.district.name %>
                          </div> 


                          <div style="padding-left:10px">
                            <b>Fecha:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= concert.date.strftime('%d/%m/%Y') %>
                          </div> 

                           <div style="padding-left:10px">
                            <b>Hora</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= concert.start_time.strftime('%H:%M:%S') %>&nbsp;-&nbsp;<%= concert.end_time.strftime('%H:%M:%S') %>
                          </div> 

                            <div style="padding-left:10px;padding-top:5px;padding-bottom:5px;padding-right:10px;">
                              <div style="float:right">
                                <%= link_to 'Mostrar', {:controller => 'search', :action => 'show', :id => concert.id} , :class => 'btn btn-success' %>
                              </div>
                              <div style="clear:both"></div>
                          </div>


                        </div>
                        
                      </tr>
                    <% end %>
                    <% else %>
                       <div class="item">
                            No hay datos de conciertos
                       </div>
                    <% end %>
               
              </div>
 
 
              <div id="geo">
  <% if(@lugar.count!=0) %>
   <script type="text/javascript">
       var side_bar_html = "";
       var gmarkers = [];
       var map = null;

       function initialize() {
           var myOptions = {
               zoom: 8,
               center: new google.maps.LatLng(-12.04909155645413,-77.0628513416159),
               mapTypeControl: true,
               mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
               navigationControl: true,
               mapTypeId: google.maps.MapTypeId.ROADMAP
           }
           map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);

           google.maps.event.addListener(map, 'click', function(){ infowindow.close(); });

          <% @lugar.each do |lu| %>

          <% place = Place.find(lu.id) %>

           <%= "var point = new google.maps.LatLng(#{place.latitude},#{place.longitude});" %>
           <% @concertdsc ="" %>
           <% for concert in @concerts.find_all_by_place_id(place.id) %>
           <% @concertdsc = @concertdsc + "<tr><td width='100px'>#{concert.name}</td><td width='150px'><b>#{concert.group.name}</b></td><td width='100px'>#{concert.date.strftime('%m/%d/%Y')}</td><td>#{concert.start_time.strftime('%X')}-</td><td width='80px'>#{concert.end_time.strftime('%X')}</td><td><a href=\'/rsearch?id=#{concert.id}\'>Mostrar</a></td></tr>" %>
           <% end %>
           <%= "var marker = createMarker(point,\"#{place.name}\",\"<div style='text-align: center'><b>#{place.name}</b><br/></div><div>Direccion: #{place.address}</div><div>Distrito: #{place.district.name}</div><br/><div>Conciertos:<hr></div><table>#{@concertdsc}</table>\");".html_safe %>
           <% end %>

           document.getElementById("side_bar").innerHTML = side_bar_html;
       }


       var infowindow = new google.maps.InfoWindow(
               {
                   size: new google.maps.Size(150,200)
               });

       function myclick(i) {
           google.maps.event.trigger(gmarkers[i], "click");
       }

       function createMarker(latlng, name, html) {
           var contentString = html;
           var marker = new google.maps.Marker({
               position: latlng,
               icon: '/assets/pinguitaricon.png',
               map: map,
               width: '100%',
               height: '100%',
               zIndex: Math.round(latlng.lat()*-100000)<<5
           });

           google.maps.event.addListener(marker, 'click', function() {
               infowindow.setContent(contentString);
               infowindow.open(map,marker);
           });

           gmarkers.push(marker);

           side_bar_html += '<img src="/assets/guitaricon.png"><a href="javascript:myclick(' + (gmarkers.length-1) + ')">' + name + '<\/a><br>';
       }
   </script>
   <script type="text/javascript"> $(document).ready(function() { initialize(); }); </script>


                
                  <div class="row-fluid">
                            <div class="span2">
                              <b>Locales</b><hr>
 <div id="side_bar"></div>
                            </div>
                            <div class="span10">
                              <div id="map_canvas" style="width: 100%; height: 550px"></div>
                            </div>

                      </div>
<% else %>
<div >
                         <ul>
                         <li>   No hay datos de conciertos</li>
                       </ul>
                       </div>
<% end %>
              </div>
</div>
  
</div>

             
          
         </div>

  </div>
<script type="text/javascript">

$(document).ready(function(){
 
        $("#contenedor").hide();
        $("#geo").show();
 
   
});

function VerGmaps(){
   $("#contenedor").hide();
        $("#geo").show();
}

function VerMini(){
 $("#contenedor").show();
        $("#geo").hide();
}
</script>