<%= link_to "Conciertos UPC", users_path, :class => 'brand' %>
<ul class="nav">
  
    <li>
    <%= link_to 'Search', users_path %>
    </li>
    
    <li>
    <%= link_to 'Concert', users_path %>
    </li>
   
    <li>
    <%= link_to 'Group', users_path %>
    </li>
    
      <li>
      <%= link_to 'Place', users_path %>
      </li>
    
    <li>
    <%= link_to 'Style', users_path %>
    </li>
  
  <li>
    <%= link_to 'District', users_path %>
    </li>
  
  <li>
    <%= link_to 'User', users_path %>
    </li>
  
</ul>
