<%= link_to "Conciertos UPC", users_path, :class => 'brand' %>
<ul class="nav">
  
    <li>
    <%= link_to 'Buscar', users_path %>
    </li>
    
    <li>
    <%= link_to 'Login', users_path %>
    </li>
   
    <li>
    <%= link_to 'Edit account', users_path %>
    </li>
    
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    
    <li>
    <%= link_to 'Sign up', users_path %>
    </li>
  
</ul>
