<!DOCTYPE html>
<html>
<head>
  <title>AppConcert</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        
          <%= render 'layouts/navigation' %>
         
      </nav>
    </div>
         
 <div class="container-fluid" style="min-width:940px">

	<%= yield %>
</div>
</body>
</html>
