<!DOCTYPE html>
<html>
<head>
  <title>AppConcert</title>

  <!-- Googlemaps -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <!-- Googlemaps -->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Googlemaps -->
  <%= yield :head %>
  <!-- Googlemaps -->

</head>
<body>
  <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        
          <%= render 'layouts/navigation' %>
         
      </nav>
    </div>
         
    <div class="container-fluid" style="min-width:940px">
       


	<%= yield %>

    <!-- Googlemaps -->
    <%= yield :scripts %>
    <!-- Googlemaps -->

</div>
</body>
</html>
