<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-horizontal"> 

    <div class="control-group">
      <span class="control-label">
        <%= f.label :name %>
      </span>
      <div class="controls" >
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <span class="control-label">
        <%= f.label :address %>   
      </span>
      <div class="controls" >
        <%= f.text_field :address %>
      </div>
    </div>

    <div class="control-group">
      <span class="control-label">    
        <%= f.label :phone %>
      </span>
      <div class="controls" >
        <%= f.text_field :phone %>
      </div>
    </div>

    <div class="control-group">
      <span class="control-label">   
        <%= f.label :image %> 
      </span>
      <div class="controls" >
        <%= f.text_field :image %>
      </div>
    </div>

    <div class="control-group">
      <span class="control-label">   
        <%= f.label :longitude %> 
      </span>
      <div class="controls" >
        <%= f.text_field :longitude %>
      </div>
    </div>

    <div class="control-group">
      <span class="control-label">   
        <%= f.label :latitude %>
      </span>
      <div class="controls" >
        <%= f.text_field :latitude %>
      </div>
    </div> 
    
    <div class="control-group">
      <span class="control-label">  
        <%= f.label :district %> 
      </span>
      <div class="controls" >
        <%= f.collection_select :district_id, District.all, :id, :name, :prompt => true %>    
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
  </div>

  </div>
<% end %>
