<script type="text/javascript">

    var map;
    $(document).ready(function(){
        map = new GMaps({
            el: '#map',
            lat: <%= @place.latitude  %>,
            lng: <%= @place.longitude %>
        });

        map.addMarker({
            lat: <%= @place.latitude  %>,
            lng: <%= @place.longitude %>,
            title: '<%= @place.name %>',
            icon:  '/assets/pin48.png' ,
            infoWindow: {
                content: '<b><%= @place.name %></b><br><%= @place.address %><br><img src="/assets/<%= @place.id %>.png" height="100" width="100%">'
            }
        });

    });


</script>

<div class="row-fluid">
       
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
          <h5>Show</h5>
                 </div>
                
                <div class="widget-content">
                  <p id="notice"><%= notice %></p>

        <div class="form-horizontal"> 

          <div class="control-group">
            <span class="control-label">Nombre</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
                <%= @place.name %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Direccion</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
              <%= @place.address %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Telefono</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
                <%= @place.phone %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Imagen</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
                <%= @place.image %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Longitud</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
                <%= @place.longitude %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Latitud</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
              <%= @place.latitude %>
             </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">gmaps</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
              <%= @place.gmaps %>
             </span>
            </div>
          </div>


          <div class="control-group">
            <span class="control-label">Distrito</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
              <%= @place.district.name %>
             </span> 
            </div>
          </div>

          <div class="form-actions">
              <%= link_to edit_place_path(@place), :class => 'btn btn-primary'  do %>
                     <i class="icon-pencil icon-white"></i> Editar
              <% end %> 
              <%= link_to 'Volver', places_path , :class => 'btn'%>      
          </div>
             </div>
          
         </div>
              <div id="map"></div>
  </div>    