  <div class="row-fluid">
       
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
          <h5>Show</h5>
                 </div>
                
                <div class="widget-content">
                  <p id="notice"><%= notice %></p>

        <div class="form-horizontal"> 

          <div class="control-group">
            <span class="control-label">Name</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
                <%= @place.name %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Address</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
              <%= @place.address %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Phone</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
                <%= @place.phone %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Image</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
                <%= @place.image %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Longitude</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
                <%= @place.longitude %>
              </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">Latitude</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
              <%= @place.latitude %>
             </span> 
            </div>
          </div>

          <div class="control-group">
            <span class="control-label">District</span>
            <div class="controls" >
              <span class="input-xlarge uneditable-input">
              <%= @place.district.name %>
             </span> 
            </div>
          </div>

  <div class="form-actions">
<%= link_to 'Edit', edit_place_path(@place), :class => 'btn btn-primary' %>
<%= link_to 'Back', places_path , :class => 'btn'%>
      
      </div>
             </div>
          
         </div>

  </div>    